<span *ngIf="!selected && apiBooted">Select what you would like to do here: </span>

<select #selection (change)="onSelectionChange()">
  <option value="register">register a player</option>
  <option value="record">record a game</option>
  <option value="lookup">lookup games</option>
  <option value="highscores">view high scores</option>
  <option value="expectation">check expectations</option>
</select>

<table *ngIf="apiBooted">
  <tr *ngIf="showRegister"><td><app-register></app-register></td></tr>
  <tr *ngIf="showRecorder"><td><app-record-game></app-record-game></td></tr>
  <tr *ngIf="showGameLookup"><td><app-record-viewer></app-record-viewer></td></tr>
  <tr *ngIf="showHighscores"><td><app-highscore></app-highscore></td></tr>
  <tr *ngIf="showExpectation"><td><app-expectations></app-expectations></td></tr>
</table>

<table *ngIf="!apiBooted">
  <tr><td><div><h1>Please wait for API to boot</h1></div></td></tr>
</table>

