<div>
  <h1>Games</h1>

  <button (click)="viewAll()">view all games</button><button (click)="clear()">clear</button><br>
  <select #player>
    <option *ngFor="let name of names" [value]="name">{{ name }}</option>
  </select>
  <button (click)="lookupPlayer(player.value)">'s games</button>
  <br>
  <select #playerOne>
    <option *ngFor="let name of names" [value]="name">{{ name }}</option>
  </select>
  vs
  <select #playerTwo>
    <option *ngFor="let name of names" [value]="name">{{ name }}</option>
  </select>
  <button (click)="lookupPlayers(playerOne.value, playerTwo.value)">lookup</button>
  <br>
  <br>
  <table *ngIf="games?.length > 0">
    <tr>
      <th>player one</th>
      <th></th>
      <th>player two</th>
      <th>date</th>
      <th>edit</th>
      <th *ngIf="hasHistory">history</th>
    </tr>
    <tr *ngFor="let game of games">
      <td [ngClass]="{'win': game.scoreOne > game.scoreTwo}">
        {{ game.playerOne }}<br>{{ game.scoreOne }}
      </td>
      <td>vs</td>
      <td [ngClass]="{'win': game.scoreOne < game.scoreTwo}">
        {{ game.playerTwo }}<br>{{ game.scoreTwo }}
      </td>
      <td>{{ formatDate(game.time) }}</td>
      <td>
        <button (click)="edit(game)">edit</button>
      </td>
      <td *ngIf="game.history?.length > 0">
        <button (click)="hist(game)">history</button>
      </td>
    </tr>
  </table>

</div>

<form [ngClass]="{'hide': hideEdit}">
  <h1 *ngIf="editing"> editing game on {{ formatDate(editing.time) }}</h1>
  <table>
    <tr>
      <td>
        <select #player1>
          <option *ngFor="let name of names" [value]="name">{{ name }}</option>
        </select>
        <br>
        <input type="number" min="0" #score1>
      </td>
      <td>vs</td>
      <td>
        <select #player2>
          <option *ngFor="let name of names" [value]="name">{{ name }}</option>
        </select>
        <br>
        <input type="number" min="0" #score2>
      </td>
    </tr>
  </table>
  <button type="button" (click)="save(player1.value, player2.value, score1.value, score2.value)">save game</button>
  <button type="button" (click)="hideMe()">close</button>
</form>

<form [ngClass]="{'hide': hideHistory}">
  <h1 *ngIf="history"> history for game on {{ formatDate(editing.time) }}</h1>
  <table *ngIf="history?.length > 0">
    <tr *ngFor="let game of history; let i = index">
      <td [ngClass]="{'win': game.scoreOne > game.scoreTwo}">
        {{ game.playerOne }}<br>{{ game.scoreOne }}
      </td>
      <td>vs</td>
      <td [ngClass]="{'win': game.scoreOne < game.scoreTwo}">
        {{ game.playerTwo }}<br>{{ game.scoreTwo }}
      </td>
      <td>
        <button type="button" (click)="revert(i)">revert</button>
      </td>
    </tr>
  </table>
  <button type="button" (click)="hideMe()">close</button>
</form>
