<div>
  {{ text }} <br>
  <button (click)="getNames()">update dropdown</button>
  player one: <br>
  name: <select #playerOne>
    <option *ngFor="let name of names" [value]="name">{{ name }}</option>
  </select><br>
  score: <input type="number" min="0" #scoreOne> <br>
  player two: <br>
  name: <select #playerTwo>
    <option *ngFor="let name of names" [value]="name">{{ name }}</option>
  </select><br>
  score: <input type="number" min="0" #scoreTwo> <br>
  <button (click)="record(playerOne.value, playerTwo.value, scoreOne.value, scoreTwo.value)">record</button>
</div>
